<!-- src/app/app.component.html -->

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/tools.svg" class="custom-color" />
      Resume Builder
    </a>

    <button class="btn btn-primary me-md-2" type="button">Login</button>
  </div>
</nav>

<div class="container text-center my-5">
    <h1 class="display-4">Welcome to Resume Builder</h1>
    <p class = "lead">Start building your resume here</p>
    <button class="btn btn-primary btn-lg" (click)="buildResume()">Build Resume</button>
</div>
