img.custom-color{
    fill:white
}

.container{
    text-align: center;
    margin-top: 50px;
}

.display-4{
    font-weight: 300;
    margin-bottom: 20px;
}

.lead{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.btn-lg{
    padding: 10px 20px;
    font-size: 1.25rem;
}